form{
    justify-content: center;
    box-sizing: content-box;
    width: 300px;
    height: 100px;
}
.login{
    background-color:indigo;
}
#h1{
    text-align: center;

}
body{
    background-image: url(/img/clg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}